@font-face {
    font-family: H1Exo;
    src: url(/Css/Fonts/H1Exo/Exo-VariableFont_wght.ttf);
}
@font-face {
    font-family: H2DaysOne;
    src: url(/Css/Fonts/H2Days_One/DaysOne-Regular.ttf);
}
@font-face {
    font-family: P_Athiti;
    src: url(/Css/Fonts/P_Athiti/Athiti-Medium.ttf);
}

html,body{overflow-x: hidden;}
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}
footer{
    width: 80vw;
    border: 6px white solid;
    display: flex;
    margin: auto;
    height: 7em;
    align-items: center;
}
footer div{
    width: 50%;
}
.contacto{
    display: block;
    justify-content: center;
}
.contacto h4{
    text-align: center;
}
.contacto p{
    text-align: center;
}
.sociales{
    display: flex;
    justify-content: center;
}
.sociales a{
    margin: 1em;
}
div{
    margin: 0%;
}
header{
    padding: 0%;
    margin: auto;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    border: 0px white solid;
    border-width: 0px 6px;
    width: 80vw;
    min-height: 95vh;
    scroll-snap-align: start;
    position: relative;
}
header h1{
    display: block;
    text-align: center;
    font-size: 8rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: .2em;
}
#irAlTl{
    margin: auto;
    height: 5vh;
    font-family: H1Exo;
    text-align: center;
}
#irAlTl h3{
    font-weight: 200;
}
header p{
    display: block;
    margin: auto;
    font-size: 1.9em;
    padding: 1em 2em;
    margin-top: 0px;
    word-spacing:initial;
}
a{
    text-decoration: none;
    color: white;
}
/* Choreado */
#chevron {
    margin: auto;
    position: relative;
    text-align: center;
    padding: 1px;
    margin-bottom: 1,5px;
    height: 2px;
    width: 400px;
}
#chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 9deg);
}
#chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -9deg);
}


.noticias{
    scroll-snap-align: start;
    overflow: hidden;
    min-height: 99vh;
    border-left: 6px white solid;
    border-right: 6px white solid;
    width: 80vw;
    margin: auto;
    margin-top: 0%;
    padding: 1em 0em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 47vh 47vh;
    column-gap: .5em;
    text-align: justify;
}
.noticiaGrande{
    background-color: black;
    overflow:hidden;
    margin-bottom: 1px;
    margin-left: 2em;
    border: 0px white solid;
    border-width: 1px 0px;
    grid-column-end: 4;
    grid-column-start: 1;
    padding: 0em 1em;

    position: relative;
}
.noticiaGrande p {
    margin: .5em;
    overflow: hidden;
}
.noticiaGrande h2  {
    margin: 0em .5em;
    font-weight: 200;
    font-size: 1.6em;
    word-wrap: break-word;
}
.linkNoticia{
    position:absolute;
    bottom: .4em;
    right: 5%;
    background-color: teal;
    text-decoration: none;
    color: white;
    border: none;
    text-align: center;
    border-radius: 5%;
    padding: 5px 10px;
    width: 100px;
    margin: .1em;
}
.linkNoticia:hover{
    transform: scale(.95);
}
.noticiaGrande a:hover{
    background-color: rgb(1, 83, 83);
}
.noticiaChica{
    position: relative;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px white solid;
    margin-right: 1em;
    padding: .5em 1em;
}
.noticiaChica p {
    margin: .5em;
    overflow:hidden;
}
.noticiaChica h2  {
    margin: 0em .5em;
    padding: 0em .2em;
    font-weight: 200;
    font-size: 1.6em;
    word-wrap: break-word;
}
.fecha{
    box-shadow: 10px 15px 2px white;
    left: 11em;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    border: 4px white solid;
}
.fecha h1{
    text-align: center;
    font-size: 3em;
}
.border{
    height: 2px;
    background-color: aliceblue;
    width: 30vw;
    margin: auto;
}
h1{
    font-family: H1Exo;
}
h2{
    font-family: H2DaysOne;
}

p{
    font-family: P_Athiti;
}
/* -----------MEDIA 600----------- */
@media (max-width: 790px) {
    body{
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    header{
        border: 0ch;
        height: 100vh;
        width: 100vw;
        margin: 0%;
        padding-top: 0ch;
    }
    header h1{
        font-size: 4em;
    }
    header p{
        font-size: 1.5em !important;
        padding-bottom: 0%;
        text-align: justify;
    }
    #chevron {
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1px;
        margin-bottom: 1,5px;
        height: 2px;
        width: 14em;
    }
    #chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, 9deg);
    }
    #chevron:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, -9deg);
    }
    .fecha{
        box-shadow: none;
        border: 0px;
        max-height: 3em;
        position: inherit;
    }
    .fecha h1{
        font-size: 2em !important;
        text-align: center;
        margin: 0%;
    }
    .noticias{
        text-align:left;
        border: 0ch;
        padding: 0em 0em;
        height: 100vh;
        width: 100vw;
        display: block;
    }
    .noticiaGrande{
        position: relative;
        padding: .5em .5em;
        margin-left: .1em;
        height: 30%;
        display: flex;
        flex-direction: column;
    }
    .noticiaGrande h2{
        word-wrap: break-word;
        overflow: hidden;
        min-height: 1em;
        margin: 0% !important;
        word-break: keep-all;
        font-weight: 100;
        font-size: 1.2em;
    }
    .noticiaGrande p{
        word-break: keep-all;
        overflow: hidden;
        min-height: 5em;
    }
    .noticiaChica{
        position: relative;
        padding: .5em .5em;
        margin: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 25%;
    }
    .noticiaChica h2{
        word-break: keep-all;
        overflow: hidden;
        min-height: 1em;
        margin: 0%;
        font-weight: 100;
        font-size: 1.2em;
    }
    .linkNoticia{
        position: absolute;
        width: 90%;
        height: 1em;
        border-radius: 1%;
        font-size: 1.1em;
    }
    .border{
        display: none;
    }
}
/* -----------MEDIA 900----------- */
@media (max-width: 920px) {
    header{
        height: 100vh;
    }
    header h1{
        font-size: 5em;
    }
    header p{
        font-size: 1.8em;
        text-align: justify;
    }
    #chevron {
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1px;
        margin-bottom: 1,5px;
        height: 2px;
        width: 14em;
    }
    #chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, 9deg);
    }
    #chevron:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, -9deg);
    }
    .fecha{
        width: 10em;
        height: 10em;
        left: 5em;
        top: 2em;
    }
    .fecha h1{
        font-size: 3em;
    }
    .noticiaGrande{
        margin-left: 0%;
    }
    .noticiaGrande h2{
        word-wrap: break-word;
        overflow: hidden;
        min-height: 1em;
        word-break: keep-all;
        font-weight: 100;
        font-size: 1.5em;
        margin: .5em .5em;
    }
    .noticiaGrande p{
        max-height: 9em;
        font-size: 1em;
    }
    .noticiaChica{
        margin: 0%;
    }
    .noticiaChica h2{
        word-break: keep-all;
        overflow: hidden;
        min-height: 1em;
        margin: 0%;
        font-weight: 100;
        font-size: 1.5em;
    }
    .noticiaChica p{
        word-break: keep-all;
        text-overflow: ellipsis;
        max-height: 9em;
        font-size: 1em;
    }
    #irAlTl{
        position: absolute;
        left: 35%;
        bottom: 5%;
        font-family: H1Exo;
        text-align: center;
    }
}
/* --------MEDIA 800---------- */
 @media (max-width: 800px) {
    header{
        height: 100vh;
    }
    header h1{
        font-size: 4em;
    }
    header p{
        font-size: 1.4em;
        text-align: justify;
    }
    #chevron {
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1px;
        margin-bottom: 1,5px;
        height: 2px;
        width: 14em;
    }
    #chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, 9deg);
    }
    #chevron:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: white;
        transform: skew(0deg, -9deg);
    }
    .fecha{
        width: 8em;
        height: 8em;
        left: 8em;
    }
    .fecha h1{
        text-align: center;
        font-size: 1em;
    }
    .noticias{
        text-align:left;
        height: 100vh;
    }
    .noticiaGrande{
        margin-left: .1em;
        min-height: 33%;
        display: flex;
        flex-direction: column;
    }
    .noticiaGrande h2{
        word-wrap: break-word;
        overflow: hidden;
        min-height: 1em;
        word-break: keep-all;
        font-weight: 100;
        font-size: 1em;
        margin: .5em .5em;
    }
    .noticiaGrande p{
        word-break: keep-all;
        text-overflow: ellipsis;
        max-height: 9em;
        font-size: .9em;
    }
    .noticiaChica{
        margin-left: .1em;
        margin: 0%;
    }
    .noticiaChica h2{
        word-break: keep-all;
        overflow: hidden;
        min-height: 1em;
        margin: 0%;
        font-weight: 100;
        font-size: 1em;
    }
    .noticiaChica p{
        word-break: keep-all;
        text-overflow: ellipsis;
        max-height: 9em;
        font-size: .9em;
    }
    #irAlTl{
        margin-top: 3vh;
        font-family: H1Exo;
        font-weight: 200;
        display: block;
        text-align: center;
    }
} 
/* -----------MEDIA 1360----------- */
@media (min-width: 1360px){
    header{
        height: 100vh;
    }
    header h1{
        font-size: 7.5em;
        margin-bottom: 0%;
    }
    header p{
        font-size: 2em;
        padding-bottom: 0%;
        padding-top: 2vh;
        text-align: justify;
    }
    .fecha{
        width: 12em;
        height: 12em;
    } 
    .fecha h1{
        font-size: 4em;
    } 
    .noticias{
        row-gap: 1em;
        height: 100vh;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .noticiaGrande{
        height: 49vh;
        margin-left: .1em;
        display: flex;
        flex-direction: column;
    }
    .noticiaGrande h2{
        word-wrap: break-word;
        overflow: hidden;
        min-height: 1em;
        margin: 0%;
        word-break: keep-all;
        font-weight: 100;
    }
    .noticiaGrande p{
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow:inherit;
        max-height: 13em;
    }
    .noticiaChica{
        height: 100%;
    }
    #irAlTl{
        margin-top: 0%;
        font-family: H1Exo;
        font-weight: 200;
        display: block;
        text-align: center;
    }
    .linkNoticia{
        position:absolute;
        bottom: 1.1em;
        right: 5%;
        border-radius: 5%;
        padding: 5px 10px;
        width: 100px;
        margin: .1em;
    }
}