@font-face {
    font-family: H1Exo;
    src: url(/Css/Fonts/H1Exo/Exo-VariableFont_wght.ttf);
}
@font-face {
    font-family: H2DaysOne;
    src: url(/Css/Fonts/H2Days_One/DaysOne-Regular.ttf);
}
@font-face {
    font-family: P_Athiti;
    src: url(/Css/Fonts/P_Athiti/Athiti-Medium.ttf);
}
@font-face {
    font-family: Slender;
    src: url(/Css/Fonts/Wire_One/WireOne-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
h1{
    font-family: H1Exo;
}
h2{
    font-family: H2DaysOne;
}
p{
    font-family: P_Athiti;
}
a{
    text-decoration: none;
    color: white;
}
/* ACCESSIBILITY */
.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
} 
header{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    scroll-snap-align: start;
    margin-bottom: 5vh;
}
button{
    font-size: 1rem;
    z-index: 99;
    width: 60%;
    margin: auto;
    height: 2.5rem;
    border-radius: 5px;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    background-color: black;
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 2px 5px rgba(0, 255, 255, 0.9),
    -2px -1px 4px rgba(255,0,0,0.67);
    text-shadow:1px 1px 2px rgba(255,0,0,0.87),
    -1px -1px 2px rgba(0, 255, 255, 0.9) ;
}
button:hover{
    cursor: pointer;
    box-shadow: 5px 2px 8px rgba(0, 255, 255, 0.9),
    -5px -2px 8px rgba(255,0,0,0.67);
}
.tituloHeader{
    width: 100vw;
    height: 50%;
}
.tituloHeader h1{
    height: 40%;
    font-family: slender;
    text-align: center;
    font-size: 25vw;
    transform: scaleY(1.2) scaleX(1.2) translateY(1rem);
    /* align-self: center; */
    /* justify-self: flex-start; */
    margin-top: 5%;
    margin-bottom: 5%;
}
.presentacion{
    opacity: 0;
    transform: scaleY(0);
    height: 1rem;
}
.presentacionExpanded{
    transition:all .5s ease-in-out;
    opacity: 1;
    height: auto;
    transform: scaleY(1);
}
.presentacion p{
    font-size: 5vw;
    line-height: 1.4rem;
    text-align:justify;
    margin: .5rem;
}
#chevron {
    margin: auto;
    position: relative;
    text-align: center;
    padding: 1px;
    margin-bottom: 1,5px;
    height: 2px;
    width: 300px;
}
#chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 9deg);
    box-shadow: 1px 2px 10px rgba(255,0,0,0.67);
    animation: color-change-2x 1s ease-in-out 1s infinite alternate both;
}
#chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -9deg);
    box-shadow: 1px 2px 12px rgba(0, 255, 255, 0.67);
    animation: color-change-2x 1s ease-in-out 1s infinite alternate both;
}
#irAlTl{
    z-index: 98;
    margin: 1rem auto;
    margin-bottom: 4rem;
    height: 20vh;
    font-family: H1Exo;
    text-align: center;
}
#irAlTl h3{
    font-weight: 200;
    margin: 0%;
}
.noticias{
    scroll-snap-align: start;
    overflow: hidden;
    min-height: 99vh;
    padding: 1%;
    padding-bottom: 5vh;
}
.container{
    width: 100%;
    height: 20%;
    padding: 0% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.diario{
    height: 30px;
    width: 30px;
}
.diario img{
    width: 100%;
}
.lectura{
    display: flex;
    margin-right: auto;
    padding: 1rem;
}
.linkNoticia{
    text-decoration: none;
    color: white;
    text-align: center;
    width: 50%;
    align-self: center;
    padding: 5px 0px;
    box-shadow: 2px 1px 4px rgba(0, 255, 255, 0.9),
    -2px -1px 4px rgba(255,0,0,0.67);
    text-shadow:1px 1px 2px rgba(255,0,0,0.87),
    -1px -1px 2px rgba(0, 255, 255, 0.9) ;
}
.linkNoticia:hover{
    filter: brightness(150%);
}
.fecha{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
}
.fecha h1{
    margin: 0% 5%;
    font-size: 2rem;
    text-shadow:  -0.093em 0 1px rgba(255,0,0,0.67), 0.093em 0 1px rgba(0, 255, 255, 0.67);
}
.noticiaGrande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
    text-align: justify;
    max-height: 33%;
}


.noticiaChica{
    max-height: 25%;
    display: flex;
    flex-direction: column;
    border: 1px  white solid;
}
.noticiaTitulo{

    font-weight: 200;
    font-size: 1rem;
    /* word-wrap: break-word; */
}
.noticiaParrafo{
    margin: 1%;
    font-size: .8rem;
    line-height: 1rem;
    overflow:hidden;
}

/*                       MEDIA MEDIA MEDIA MEDIA                       */
@media screen and (min-width: 800px) {
    header{
        /* padding: 5vh 0%; */
        display: flex;
        flex-direction: row;
        box-shadow: 10px 0px 5px rgba(255,255,255,0.9), -10px 0px 5px rgba(255, 255, 255, 0.9);
        width: 80vw;
        height: 100%;
        align-items: center;
        }
        .tituloHeader{
            height: 100%;
        }
    .tituloHeader h1{
        height: 70%;
        align-self: center;
        font-size: 17vw;
        transform: scaleY(1.2) scaleX(0.9);
        line-height: 1em;
        text-transform: uppercase;
        margin: 0rem 0em;
    }
    .presentacion{
        opacity: 1;
        transform: scaleY(1);
        height: auto;
    }
    .presentacion p{
        margin: 5% .25em;
        font-size:  1.75vw;
        text-align:justify;
        padding: .1em;
        line-height: normal;
        text-overflow: ellipsis;
        transform:  translateX(-10px);
    }
    button{
        display: none;
    }
    #irAlTl{
        margin: auto;
        font-family: H1Exo;
        text-align: center;
        transform: translateY(-2em);
        margin-bottom: 2vh;
    }
    #irAlTl h3{
        font-weight: 200;
        margin: 0%;
        text-shadow:  -0.093em 0 1px rgba(255,0,0,0.67), 0.093em 0 1px rgba(0, 255, 255, 0.67);
    }


    /* Choreado */
    #chevron {
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1px;
        margin-bottom: 1,5px;
        height: 2px;
        width: 400px;
        
    }

    /*             NOTICIAS                       */

    .noticias{
        /* border-left: 6px white solid;
        border-right: 6px white solid; */
        box-shadow: 10px 0px 5px rgba(255,255,255,0.9), -10px 0px 5px rgba(255, 255, 255, 0.9);
        width: 80vw;
        padding: 0%;
        padding-bottom: 0vh;
        display: grid;
        grid-template-columns: auto auto auto 35%;
        grid-template-rows: 49vh 49vh;
        row-gap: 1vh;
    }
    .noticiaGrande{
        max-height: 100%;
        overflow:hidden;
        border: 0px rgba(255,255,255,0.9) solid;
        border-width: 4px 0px;
        grid-column-end: 4;
        grid-column-start: 1;
        padding: .5rem .5rem;
        text-align: justify;
    }
    .noticiaChica{
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        border-top: 0px;
        border-right: 0px;
        padding: 0em 1em;
    }
    .noticiaParrafo {
        font-size: 1.2vw;
        line-height: 1.2rem;
        margin: .2rem;
        overflow:initial;
        height: 50%;
    }
    .noticiaTitulo  {
        max-height: 30%;
        width: 100%;
    }
    .noticiaTitulo h2{   
        margin: 0%;
        text-align: justify ;
        font-weight: 200;
        font-size: 2vw;
        line-height: 1.8rem;
        word-wrap: break-word;
    }
    .container{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .linkNoticia{
        font-size: 1.5vw;
        text-align: center;
        padding: 5px 10px;
        width: 12vw;
        color: black;
        background-color: hsla(0, 0%, 100%, 0.7);
        box-shadow: 2px 1px 4px rgba(0, 255, 255, 0.9),
        -2px -1px 4px rgba(255,0,0,0.67);
        text-shadow:1px 1px 2px rgba(255,0,0,0.87),
        -1px -1px 2px rgba(0, 255, 255, 0.9) ;
    }
    .linkNoticia:hover{
        background-color: hsla(0, 0%, 100%, 0.9);
        transform: scale(1.01);
        box-shadow: 4px 3px 8px hsla(0, 100%, 65%, 0.87),
        -3px -4px 8px hsla(180, 100%, 65%, 0.87);
    }
    .diario{
        height: 30px;
        width: 30px;
    }
    .diario img{
        width: 100%;
    }
    .lectura{
        margin-right: auto;
        padding: 1rem;
    }
    .fecha{
        box-shadow: 10px 15px 6px rgba(0, 255, 255, 0.67);
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        border: 4px rgba(255,0,0,0.67) solid;
    }
    .fecha h1{
        text-align: center;
        font-size: 5vw;
        font-weight: 300;
        text-shadow:  -0.093em 0 3px rgba(255,0,0,0.67), 0.093em 0 3px rgba(33, 150, 150, 0.27);
    }
    .border{
        height: 2px;
        background-color: aliceblue;
        width: 30vw;
        margin: auto;
    }

    footer{
        width: 80vw;
        border: 6px white solid;
        display: flex;
        height: 7em;
        align-items: center;
    }
    footer div{
        width: 50%;
    }
    .contacto{
        display: block;
        justify-content: center;
    }
    .contacto h4{
        text-align: center;
    }
    .contacto p{
        text-align: center;
    }
    .sociales{
        display: flex;
        justify-content: center;
    }
    .sociales a{
        margin: 1em;
    }
}
@media screen and (min-width: 1900px) {
    header h1{
        font-size: 20rem;
    }
    header p{
        font-size: 2rem;
    }
    .noticiaParrafo {
        font-size: 1.5vw;
        line-height: 1.7rem;
    }
    #chevron {
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1px;
        margin-bottom: 1,5px;
        height: 2px;
        width: 600px;
        
    }
}
.color-change-2x {
	-webkit-animation: color-change-2x 1s ease-in-out 1s infinite alternate both;
	        animation: color-change-2x 1s ease-in-out 1s infinite alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-3 13:18:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        box-shadow: 1px 0px 2px rgba(255,255,255,0.2), -1px 0px 2px rgba(255, 255, 255, 0.6);
    }
    10%{
        box-shadow: 3px 0px 5px rgba(255,255,255,0.6), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    15%{
        box-shadow: 1px 0px 2px rgba(255,255,255,0.2), -1px 0px 2px rgba(255, 255, 255, 0.6);
    }
    20%{
        box-shadow: 3px 0px 5px rgba(255,255,255,0.6), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    25%{
        box-shadow: 1px 0px 2px rgba(255,255,255,0.2), -1px 0px 2px rgba(255, 255, 255, 0.6);
    }
    50%{
        box-shadow: 3px 0px 5px rgba(255,255,255,0.6), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    75%{
        box-shadow: 3px 0px 10px rgba(255,255,255,0.6), -6px 0px 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 9px 0px 15px rgba(255,255,255,0.6), -10px 0px 15px rgba(255, 255, 255, 0.6);
    }
}
@keyframes color-change-2x {
    0% {
        box-shadow: 1px 0px 2px rgba(0, 255, 255, 0.67), -1px 0px 2px rgba(255, 255, 255, 0.6);
    }
    10%{
        box-shadow: 3px 0px 5px rgba(0, 255, 255, 0.67), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    15%{
        box-shadow: 1px 0px 2px rgba(255,255,255,0.2), -1px 0px 2px rgba(255, 255, 255, 0.6);
    }
    20%{
        box-shadow: 3px 0px 5px rgba(255,0,0,0.67), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    25%{
        box-shadow: 1px 0px 2px rgba(255,255,255,0.2), -1px 0px 2px rgba(255,0,0,0.67);
    }
    50%{
        box-shadow: 3px 0px 5px rgba(255,0,0,0.67), -5px 0px 5px rgba(255, 255, 255, 0.6);
    }
    75%{
        box-shadow: 6px 0px 10px rgba(255,0,0,0.67), -6px 0px 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 9px 0px 15px rgba(0, 255, 255, 0.67), -10px 0px 15px rgba(255, 255, 255, 0.6);
    }
}
